<div class="row">
  <div class="col"></div>
  <div class="col-12" *ngIf="isTokenValid; else tokenInvalid">
    <br />
    <div class="card card-container align-items-center">
      <br>
      <i class="fas fa-user-lock fa-7x"></i>
      <h1>Resetowanie hasła</h1>
      <br />
      <form
        *ngIf="!isChanged"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="text-center">
        Podaj nowe hasło i zatwierdź
      </div>
      <br>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">
            Hasło musi posiadać przynajmniej 6 znaków
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Powtórz hasło</label>
        <input
          pattern="{{ password.value }}"
          type="password"
          class="form-control"
          name="repeatPassword"
          [(ngModel)]="form.repeatPassword"
          required
          minlength="6"
          #repeatPassword="ngModel"

        />
        <div
          class="alert-danger"
          role="alert"
          *ngIf="f.submitted && repeatPassword.invalid"
        >
          <div *ngIf="repeatPassword.errors.required">Musisz powtórzyć hasło</div>
          <div *ngIf="password.value !== repeatPassword.value && !repeatPassword.errors.required">Podane hasła muszą być takie same</div>
        </div>
      </div>
        <div class="d-flex justify-content-center">
          <div class="form-group">
            <button class="btn btn-primary btn-block">Zmień hasło</button>
          </div>
        </div>
        <div
          class="alert alert-warning text-center"
          role="alert"
          *ngIf="f.submitted && isChangeFailed"
        >
          Zmiana hasła nie powiodła się
        </div>
      </form>
      <div *ngIf="isChanged">
        <div class="alert alert-success text-center">
          Hasło zostało zmienione!
        </div>
        <div class="d-flex justify-content-center">
          <button [routerLink]="'/zaloguj'" class="btn btn-secondary btn-sm">
            Przejdź do ekranu logowania
          </button>
        </div>
        <br>
      </div>
    </div>
    <br>
  </div>
  <div class="col"></div>
</div>
<ng-template #tokenInvalid> <br><div class="col-md-12 alert alert-warning mt-3 text-center">Token niepoprawny</div></ng-template>
