<div class="container" *ngIf="currentUser; else loggedOut">
  <ngx-spinner type="la-square-jelly-box" size="default" bdColor="rgba(51, 51, 51, 0.8)">
    <div style="color: #64d6e2" class="la-square-jelly-box la-3x">
      <div></div>
      <div></div>
    </div>
    <br />
    <p style="color: white">Proszę czekać...</p>
  </ngx-spinner>
  <div class="row text-center"><h2>Twoje Przepisy:</h2></div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let recipe of recipes; let i = index">
      <div class="card h-100">
        <a routerLink="/przepisy/{{recipe.id}}"><img *ngIf="recipe.imageUrl !== null" class="card-img-top"
            style="max-height: 220px; width: auto" [src]="recipe.imageUrl" alt="" />
          <img *ngIf="recipe.imageUrl === null" class="card-img-top" style="max-height: 220px; width: auto"
            [src]="'assets/images/noimage.png'" alt="" />
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a routerLink="/przepisy/{{recipe.id}}">{{recipe.name}}</a>
          </h4>
          <div class="row">
            <div class="col">
              <a class="badge badge-warning" routerLink="/profil/mojeprzepisy/edytuj/{{recipe.id}}">Edytuj przepis</a>

            </div>
            <div class="col">
              <a class="badge badge-danger" (click)="deleteRecipe(recipe.id)">Usuń przepis</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div *ngIf="0.5 > avgRatings[recipe.id]">
            <small class="text-muted">&#9734; &#9734; &#9734; &#9734; &#9734;</small>
          </div>
          <div *ngIf=" 0.5 < avgRatings[recipe.id] && avgRatings[recipe.id] < 1.5">
            <small class="text-muted">&#9733; &#9734; &#9734; &#9734; &#9734;</small>
          </div>
          <div *ngIf=" 1.5 <= avgRatings[recipe.id] && avgRatings[recipe.id] < 2.5">
            <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
          </div>
          <div *ngIf=" 2.5 <= avgRatings[recipe.id] && avgRatings[recipe.id] < 3.5">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
          </div>
          <div *ngIf=" 3.5 <= avgRatings[recipe.id] && avgRatings[recipe.id] < 4.5">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
          <div *ngIf="4.5 <= avgRatings[recipe.id]">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="recipes?.length == 0 " class="col-md-12 alert alert-warning mt-3">
    Nie dodano żadnych przepisów :(
  </div>
</div>
<ng-template #loggedOut><br><div class="col-md-12 alert alert-warning mt-3 text-center">Zaloguj się!</div></ng-template>
