<br>
<p class="text-justify text-center">
  1. Aby dodać zdjęcie potrawy należy skorzystać z zewnętrznej strony do hostowania zdjęć (np. <a href="https://imgur.com/">imgur</a>)
</p>
<p class="text-justify text-center">
  2. Po dodaniu zdjęcia należy kliknąć prawym przyciskiem myszy bądź przytrzymać palec na dodanym zdjęciu i wybrać opcję "pokaż obraz"/ "otwórz grafikę w nowej karcie"
</p>
<img src="assets/firefox.png" class="center" style="width:200px">
<br>
<img src="assets/chrome.png" class="center" style="width:300px">
<br>
<p class="text-justify text-center">
  3. Następnie należy skopiować adres URL zdjęcia i wkleić go przy dodawaniu/edycji danych przepisu.
</p>
