<br>
<p class="text-justify text-center">
  Do prawidłowego obliczenia w każdym z przepisów oraz w bilansie kalorycznym makroskładników, potrzebne jest przeliczenie każdej z
  jednostek na gramy. Tabela poniżej prezentuje założone dane niezależnie od tego jakiego produktu one dotyczą.
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Jednostka</th>
      <th scope="col"> Ilość gram</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">łyżeczka</td>
      <td class="align-middle">5</td>
    </tr>
    <tr>
      <td class="align-middle">łyżka</td>
      <td class="align-middle">15</td>
    </tr>
    <tr>
      <td class="align-middle">ząbek</td>
      <td class="align-middle">5</td>
    </tr>
    <tr>
      <td class="align-middle">szklanka</td>
      <td class="align-middle">250</td>
    </tr>
    <tr>
      <td class="align-middle">szczypta</td>
      <td class="align-middle">1</td>
    </tr>
    <tr>
      <td class="align-middle">pęczek</td>
      <td class="align-middle">25</td>
    </tr>
    <tr>
      <td class="align-middle">ml</td>
      <td class="align-middle">1</td>
    </tr>
    <tr>
      <td class="align-middle">l</td>
      <td class="align-middle">1000</td>
    </tr>
  </tbody>
</table>
