td {
  text-align: center;
}

th {
  text-align: center;
}

.test {
  text-decoration: line-through;
}

span {
  display: inline-block;
}

button {
  margin: 8px;
  border: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
