<div class="row">
  <div class="col"></div>
  <div class="col-12">
    <br />
    <div class="card card-container align-items-center">
      <br>
      <i class="fas fa-envelope-open-text fa-7x"></i>
      <h1>Resetowanie hasła</h1>
      <br />
      <form
        *ngIf="!isReseted"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="text-center">
        Podaj adres email swojego konta. Wyślemy do Ciebie link resetujący hasło.
      </div>
      <br>
        <div class="form-group">
          <label for="email">Email użytkownika</label>
          <input
            type="email"
            class="form-control"
            name="email"
            ngModel email
            [(ngModel)]="form.email"
            required
            #email="ngModel"
          />
          <div
            class="alert-danger"
            role="alert"
            *ngIf="f.submitted && email.invalid"
          >
          Wprowadź poprawny adres email
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="form-group">
            <button class="btn btn-primary btn-block">Resetuj</button>
          </div>
        </div>
        <div
          class="alert alert-warning text-center"
          role="alert"
          *ngIf="f.submitted && isResetFailed"
        >
          Resetowanie nie powiodło się! <p>Brak konta o takim adresie email.</p>
        </div>
      </form>
      <div *ngIf="isReseted">
        <div class="alert alert-success text-center">
          Mail został wysłany! Sprawdź pocztę w celu dokończenia resetowania hasła.
        </div>
        <br>
      </div>
    </div>
    <br>
  </div>
  <div class="col"></div>
</div>
