<div class="container" *ngIf="currentUser; else loggedOut">
  <div *ngIf="ownRecipe; else notAuthor">
    <div class="row">
      <div class="col"></div>
      <div class="col-10 center">
        <div class="card">
          <br>
          <div>
            <p class="align-middle text-center">Wyszukaj składnik po nazwie produktu</p>
            <div class="input-group mb-4 border rounded-pill p-1 w-80">
              <input type="search" placeholder="Wpisz tutaj nazwę składnika" aria-describedby="button-addon3"
                class="form-control bg-none border-0" #searchInput type="text">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-link text-success"
                  (click)="searchIngredient(searchInput.value)"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div *ngIf="!isValid" class="text-center text-danger">
              {{errorMessage}}
            </div>
            <br>
            <div class="d-flex justify-content-center">
              <button (click)="returnToRecipe()" class="btn btn-secondary btn-sm">
                Wróć do przepisu
              </button>
            </div>
          </div>
          <br>
        </div>

      </div>
      <div class="col"></div>
    </div>
  </div>
  <ng-template #notAuthor> To nie twój przepis !</ng-template>
</div>
<ng-template #loggedOut> Zaloguj się !</ng-template>
